<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    


<section id="contact">
  
    <h1 class="section-header">Contact</h1>
    
    <div class="contact-wrapper">
    
    <!-- Left contact page --> 
      
      <form id="contact-form" class="form-horizontal" role="form">
        
        
      </form>
      
    <!-- Left contact page --> 
      
        <div class="direct-contact-container">
  
          <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City, State</span></i></li>
            
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+91(123) 456-7890</a></span></i></li>
            
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">Mak@newsapp.com</a></span></i></li>
            
          </ul>
  
          <hr>
          <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
          <hr>
  
          
  
        </div>
      
    </div>
    
  </section>  
</body>
</html>





<!--<div class="container">

    <h2>rows</h2>
    
    <table class="table table-bordered">
    
        <thead>
    
            <tr>
    
                <th>Id</th>
    
                <th>Name</th>
    
                <th>Email</th>
    
            </tr>
    
        </thead>
    
        <tbody>
    
            <tr *ngFor="let contactus of contact">
    
            <td> {{contactus.id}} </td>
    
            <td> {{contactus.name}} </td>
    
            <td> {{contactus.email}} </td>
    
            </tr>
    
        </tbody>
    
    </table>
    
    </div>-->
