<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
  
    </head>
    <body>
        <div class="container">
            <h2></h2>
            <table align="center" class="tableborder">
        
                <thead>
            
                    <tr>
            
                       <!-- <th>Id</th>-->
            
                       <!-- <th>Category</th>
            
                        <th>Description</th>-->
                        
            
                    </tr>
            
                </thead>
                <tbody>
        
                    <tr *ngFor="let technologies of technology">
            
                    <!--<td> {{technologies.id}}</td>-->
            
                    <td class="tablebody"><b> {{technologies.title}}</b><br>
            
                     {{technologies.description}} </td>
                    
            
                    </tr>
            
                </tbody>
            </table>
            <table class="tableborder">
                
                <tr>
                    <td>

                <h3>SpaceX’s Crew-3 astronauts depart space<br>station on flight back to Earth</h3>
            <img src="assets/img/Spacex.jpg" alt="tech" width="75%" height="50%">
                    </td>
            <td>
                <p>The SpaceX Crew Dragon capsule carrying three U.S. NASA astronauts and a German astronaut from the European Space Agency (ESA) is dubbed ‘Endurance’
                The third long-duration team of astronauts launched by SpaceX to the International Space Station (ISS) for NASA safely departed the orbiting outpost early on May 5 to begin their descent back to Earth, capping a six-month science mission.</p>
                </td>
                </tr>
                <tr>
                    <td>
                <h3>Chipmaker Broadcom to buy VMware in $61 billion deal</h3>
                <img class="techimg" src="assets/img/tech.jpg" alt="" width="75%" height="50%">
                </td>
                <td>
                <p>The acquisition is the second biggest announced globally so far this year, trailing only Microsoft Corp’s $68.7 billion deal to buy video game maker Activision Blizzard Inc.
                    Broadcom Inc said on Thursday it will acquire cloud computing company VMware Inc in a $61 billion cash-and stock deal, the chipmaker's biggest and boldest bid to diversify its business into enterprise software.</p>
                </td>
                </tr>

                <tr>
                    <td>
                <h3>What challenges does the metaverse pose? Developers say data privacy security, disinformation & hate speech</h3>
                <img class="techimg" src="assets/img/technews.jpg" alt="" width="75%" height="50%">
                </td>
                <td>
                <p>According to a study, surveyed developers pointed to data privacy security, disinformation and hate speech as the most potent challenges of the metaverse.

                    A new kind of social media is on the horizon, where developers touch users in an unprecedented way, the metaverse. While this fills us with awe and inspiration, all isn’t hunky dory when it comes to shaking hands virtually.</p>
                </td>
                </tr>
                </table>
        </div>
        
       
             
        
       

        
        
        
    
        
    </body>
</html>

